/* SF Pro Display */
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_Pro/SF-Pro-Display-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
  
  /* SF Pro Text */
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro/SF-Pro-Text-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }